<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <!-- Configure log4net logging -->
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="OutputDebugStringAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\OutlookFileDrag\OutlookFileDrag.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      </appender>
      <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender" >
        <layout type="log4net.Layout.PatternLayout">
      	<conversionPattern value="[OutlookFileDrag] %level %date{HH:mm:ss,fff} - %message%n" />
        </layout>      
    </appender>
  </log4net>
  <appSettings>
    <!-- Sets the cleanup timer interval in minutes -->
    <add key="CleanupTimerInterval" value="60" />
    <!-- Sets the temp file expiration in minutes -->
    <add key="TempFileExpiration" value="60" />
    <!-- Replaces all non a-z,A-Z,0-9 characters with underline character '_' -->
    <add key="ReplaceSpecialChars" value="true" />    
  </appSettings>
</configuration>